<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>My Race in StarCraft 2</title>
</head>
<body>
    <div class="main">

        <div class="app" v-show=" showMain">
            <div class="app__header">
                <img src="img/logo.png" class="app__logo">
            </div>
            <div class="app__body">
                <button class="app__btn" @click="goToQuestions">
                    <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                    <div class="app__btn-text">Начать</div>
                </button>
                <button class="app__btn" v-on:click="goToAchivments">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                    <div class="app__btn-text">Достижения</div>
                </button>
                <button class="app__btn" @click="goToSocial">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <div class="app__btn-text">Автор</div>
                </button>
                <button class="app__btn btn__sound">
                    <i class="fa fa-volume-off" aria-hidden="true"></i>
                    <div class="app__btn-text">Звук</div>
                </button>
            </div>
        </div>



        <div class="app achivments" v-show="showAchivments">
            <div class="app__body">
                <div class="app__body-inner">
                    <h2 class="app__body-title">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                        Достижения
                    </h2>
                    <div class="app__body-top">
                        <div class="app__card">
                            <div class="app__card-text">Счёт</div>
                            <div class="app__card-count">{{ totalScore }}</div>
                        </div>
                        <div class="app__card">
                            <div class="app__card-text">Открыто рас</div>
                            <div class="app__card-count">{{ openRaces }}</div>
                        </div>
                        <div class="app__card">
                            <div class="app__card-text">Всего игр</div>
                            <div class="app__card-count">{{ totalGames }}</div>
                        </div>
                        <div class="app__card">
                            <div class="app__card-text">Любимая раса</div>
                            <div class="app__card-count">{{ favoriteRace }}</div>
                        </div>
                    </div>
                    <div class="app__body-middle">
                        <div class="app_result" 
                        v-for="(race, k) in results"
                        v-show="showResultRace[k]"
                        @click="goToResult(k)">
                            <div class="app__result-score">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <div class="app__result-count">{{ race.points }}</div>
                            </div>
                            <div class="app__result-name">{{ race.name }}</div>
                            <div class="app__result-amount">{{ totalGame[k] }}</div>
                        </div>
                    </div>
                    <div class="app__body-bottom">
                        <button class="app__btn btn__back btn_achivment" @click="goToMain">
                            <i class="fa fa-reply" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="app" v-show="showQuestions">
            <div class="app__header">
                <div class="app__header-inner">
                    <div class="app__count"># {{number+1}}</div>
                    <div class="app__text">{{questions[number][0] }}</div>
                </div>
            </div>
            <div class="app__body">
                <button class="app__btn"
                    v-for="(answer, i) in questions[number][1]"
                    v-on:click = "nextQuestions(questions[number][2][i])">
                    <div class="app__btn-text">{{answer}}</div>
                </button>
            </div>
        </div>

        <div class="app" v-show=" showSocial">
            <div class="app__body">
                <a target="_blank" href="https://vk.com/login?u=2&to=L2FsX2ZlZWQucGhw" class="app__btn">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                    <div class="app__btn-text">VK</div>
                </a>
                <a target="_blank" href="https://www.youtube.com/" class="app__btn" >
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                    <div class="app__btn-text">YouTube</div>
                </a>
                <a target="_blank" href="https://www.google.com/webhp?hl=en&ictx=2&sa=X&ved=0ahUKEwig76WJvpLwAhW3SEEAHQdACtQQPQgJ" class="app__btn" >
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <div class="app__btn-text">Gmail</div>
                </a>
                <button class="app__btn btn__back" @click="goToMain">
                    <i class="fa fa-reply" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <div class="app results" v-bind:data-race="resultRace" v-show="showResult">
            <div class="app__body">
                <div class="app__results-inner">
                    <div class="results__title">{{results[resultRace].name}}</div>
                    <div class="results__img">
                        <img :src="'img/'+resultRace+'_logo.png'">
                    </div>
                    <div class="results__text-box">
                        <p class="results__text">{{results[resultRace].description}}</p>
                        <p class="results__quote">{{results[resultRace]. quote1}}</p>
                        <p class="results__quote">{{results[resultRace].quote2}}</p>
                        <p class="results__author">{{results[resultRace].author}}</p>
                    </div>
                    <div>
                        <button :class="'app__btn btn__back btn_'+resultRace"  @click="goToAchivments">
                            <i class="fa fa-reply" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="js/vue.js"></script>
    <script src="js/const.js"></script>
    <script src="js/main.js"></script>
</body>
</html>